<?xml version="1.0"?>
  <!-- Defining the colors used in this robot -->
<robot>

  <material name="Black">
      <color rgba="0 0 0 1"/>
  </material>

  <material name="White">
      <color rgba="1 1 1 1"/>
  </material>

  <material name="Blue">
      <color rgba="0 0 1 1"/>
  </material>

  <material name="Red">
      <color rgba="1 0 0 1"/>
  </material>

</robot>