<?xml version="1.0"?>
<launch>

	<arg name="hand_name"/> 
	
  <!-- send this file to param server. Internally with the Parser, rob descr and rob descr semantic will be loaded with
       file pointed by this config file -->
	<param name="ros_ee_config_path" value="$(find ros_end_effector)/configs/$(arg hand_name).yaml"/> 

	<node type="UniversalFindActions" name="UniversalFindActions" pkg="ros_end_effector" output="screen"/>
</launch>
