<?xml version="1.0"?>
<launch>
  <!-- send urdf to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '--inorder' '$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated.xacro'"/>
  <param name="robot_description_semantic" textfile="$(find ros_end_effector)/configs/srdf/robotiq-3f-groupsForROSEE.srdf" />

    <node type="UniversalFindActions" name="UniversalFindActions" pkg="ros_end_effector" output="screen"/>
</launch>
