<?xml version="1.0"?>
<launch>
    <arg name="hand_name"/> 
    
  	<param name="robot_description" textfile="$(find ros_end_effector)/configs/urdf/$(arg hand_name).urdf"/>
    
    <node name="input_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="true" />
    </node>
     
    <!-- start robot state publisher to transform joint pos into tf for rviz, so it is always on, gazebo or not -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="200.0" />
    </node> 
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ros_end_effector)/configs/rviz/$(arg hand_name).rviz" />  

</launch>
