<?xml version="1.0"?>
<launch>
    <arg name="hand_name"/> 
    <arg name="gazebo" default="false" />
    
  	<param name="robot_description" textfile="$(find ros_end_effector)/configs/urdf/$(arg hand_name).urdf"/>
    <param name="ros_ee_config_path" value="$(find ros_end_effector)/configs/$(arg hand_name).yaml"/> 

    <!-- arg is needed by this launch file itself to run the robot state publisher below -->
    <arg unless="$(arg gazebo)" name = "jointState4robotState" value="/js_publisher/joint_states" />
    <arg if="$(arg gazebo)" name = "jointState4robotState" value="/rosee_gazebo_plugins/joint_states" />
    
    <node name="jsp_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    	<remap unless="$(arg gazebo)" from="joint_states" to="/js_publisher/joint_states" />
      <!-- if gazebo, jsp send to a topic which is sub by gazebo -->
			<remap if="$(arg gazebo)" from="joint_states" to="/ros_end_effector/joint_commands" />
    </node>
     
    <!-- start robot state publisher to transform joint pos into tf for rviz -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="200.0" />
        <remap from="joint_states" to="$(arg jointState4robotState)" />
    </node> 
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ros_end_effector)/configs/rviz/$(arg hand_name).rviz" /> 
 
    <include if="$(arg gazebo)" file="$(find rosee_gazebo_plugins)/launch/gazebo.launch"> 
    	  <arg name="hand_name" value="$(arg hand_name)"/>
    </include>   

</launch>
