<?xml version="1.0"?>
<launch>
     <arg name="gui" default="true" />
     <arg name="inSlider" default="false" />


     <!-- send the test_ee robot XML to param server -->
     <param name="robot_description" textfile="$(find ros_end_effector)/configs/urdf/two_finger.urdf"/>
     <param name="robot_description_semantic" textfile="$(find ros_end_effector)/configs/srdf/two_finger.srdf" />   
     <param name="use_gui" value="$(arg gui)"/>
     <param name="rate" value="100.0"/>
     <param name="ros_ee_config_path" value="$(find ros_end_effector)/configs/two_finger.yaml"/>
     
     <!--
     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <remap from="joint_states" to="ros_end_effector/joint_states" />
     </node>
     -->
    
    <node unless="$(arg inSlider)" type="UniversalRosEndEffector" name="UniversalRosEndEffector" pkg="ros_end_effector" output="screen"/>

    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="200.0" />
        <remap from="joint_states" to="ros_end_effector/joint_states" />
    </node> 
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ros_end_effector)/configs/rviz/test_ee.rviz" />
    
    <!-- sliders for control single joints-->
    <node if="$(arg inSlider)" name="input_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <remap from="joint_states" to="ros_end_effector/joint_states" />
    </node>
    
</launch>
